﻿



/*Settings menu container layout*/
#SettingsContainer {
    display: inline-block;
}

    #SettingsContainer #images {
        display: inline-block;
        border-bottom: solid;
        padding-bottom: 20px;
    }

    #SettingsContainer #Data {
        border-bottom: solid;
        padding-bottom: 20px;
    }

    #SettingsContainer #images #thumbnail {
        display: inline-block;
        border: solid;
    }

    #SettingsContainer #qrCode {
        border: solid;
        padding: 20px;
        margin: 0px;
    }
/* Plugin styles */
ul.thumbnails-carousel {
    padding: 5px 0 0 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

    ul.thumbnails-carousel .center {
        display: inline-block;
    }

    ul.thumbnails-carousel li {
        margin-right: 5px;
        float: left;
        cursor: pointer;
    }

container {
    width: auto;
}

#myCarousel {
    width: 960px;
    height: 540px;
    margin: auto;
}

.carousel-inner img {
    margin: auto;
}

.carousel-inner
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 540px;
    width: 960px;
    margin: 0px;
    max-width: initial;
}

/*Padding around container for all gallery images*/
.gallery-content {
    padding: 24px;
}

/*Each gallery Image style*/
.gallery-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 280px;
    width: 280px;
}

.gallery-image-container {
    padding: 8px;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    width: 300px;
    margin: 12px;
    position: center;
    box-shadow: 0 10px 18px rgba(0,0,0,0.2), 0 5px 5px rgba(0,0,0,0.2);
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    margin-top: 30px;
    padding: 25px 30px;
    position: relative;
    width: 100%;
}

.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}

    .status-upload form {
        float: left;
        width: 100%;
    }

        .status-upload form textarea {
            background: none repeat scroll 0 0 #fff;
            border: medium none;
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
            color: #777777;
            float: left;
            font-family: Lato;
            font-size: 14px;
            height: 142px;
            letter-spacing: 0.3px;
            padding: 20px;
            width: 100%;
            resize: vertical;
            outline: none;
            border: 1px solid #F2F2F2;
        }