﻿
<ul class="nav navbar-nav navbar-left">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Galleries <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a asp-area="" asp-controller="Gallery" asp-action="Create">Create new Gallery</a></li>
            <li><a asp-area="" asp-controller="Gallery" asp-action="Index">Manage Galleries</a></li>
            <li role="separator" class="divider"></li>
            @if (Model == null)
            {
            }
            else
            {
                <li class="dropdown-header">My Galleries</li>
                @foreach (var item in Model)
                {
                        <li> <a asp-controller="Gallery" asp-action="Open" asp-route-id="@item.UniqueUrl" ><img src="@item.MainImageUrl" style="height:25px;width:25px;float:left;" /> @item.Name </a></li>
                }
            }
            </ul>
    </li>
</ul>
