﻿@{
    ViewData["Title"] = "Home Page";
}

@model SocialEyes.Models.JoinGalleryModel


<div class="container body-content" style="border-radius: 25px;margin-top:50px;padding:200px;background-color:whitesmoke">
    <div id="WelcomeBanner" class="row upload-container">
        <h1 style="text-align:center;padding-bottom:100px">Welcome To SocialEyes</h1>
    </div>
    <div class="row upload-container">
        <div class="upload-form drop-shadow">
            <form asp-action="JoinGallery" method="post" enctype="multipart/form-data" id="join-form">
                <div class="form-group">
                    <label asp-for="Code">Enter Unique Identifier for gallery</label>
                  <!--  <input asp-for="Code" class="form-control" />-->
                </div>
                <div class="submit">
                    <button type="submit" id="btn-upload" class="btn btn-info">Open Gallery</button>
                </div>
            </form>
        </div>
    </div>
</div>
