﻿
@model SocialEyes.Data.DBModels.CommentModel

<div class="panel-footer">
    <div class="input-group">
        <form id="formComment" method="post" asp-controller="Image" asp-action="CreateCommentAsync">
            <input asp-for="@Model.CommentValue" id="btn-input" required type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
            <input hidden asp-for="@Model.ImageId" value="@Model.ImageId"/>            
                <input type="submit" class="btn btn-primary" id="btn-chat" value="Post"/>           
        </form>
    </div>
</div>
            
