﻿@model SocialEyes.Models.UploadImageModel

<div class="container body-content">
    <div class="row upload-container">
        <div class="upload-form drop-shadow">
            <form asp-controller="Gallery" asp-action="UploadNewImage" method="post" enctype="multipart/form-data" id="upload-form">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class=" form-control" />
                </div>
                <div>
                    <label class="btn btn-default btn-file">
                        Browse for Image
                        <input type="file" name="file" accept=".jpg, .png" multiple />
                    </label>
                </div>
                <input type="hidden" asp-for="GalleryId" value="@Model.GalleryId" />
                <div class="submit">
                    <button type="submit" id="btn-upload" class="btn btn-info">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>