﻿@model SocialEyes.Data.DBModels.GalleryModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>GalleryModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label">How many hours should the Hangout remain open?</label>
                <input asp-for="Duration" class="form-control" value="24" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDateTime" class="control-label">When to open the Hangout</label>
                <input asp-for="StartDateTime" class="form-control" type="datetime-local" />
            </div>
           <div class="form-group">
               <label>Allow any logged in user to add pictures to this Gallery?</label>
               <input asp-for="AllowUsersAddImages" type="checkbox" /> 
           </div>
            <div class="form-group">
                <label hidden asp-for="UserRefID" class="control-label"></label>
                <input type="hidden" asp-for="UserRefID" class="form-control" value="@ViewData["UserRefID"]">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
