﻿
@{
    ViewData["Title"] = "Finished";
}

<h2>Sorry @ViewBag.GalleryName finished on the @ViewBag.GalleryEndTime </h2>
<a  asp-controller="Home" asp-action="Index" ><input type="submit"  class="btn-success" value="Return to search for another Gallery"/></a>

