﻿    @*Display all the here and give the option to delete each one*@
    <div id="images">
        @foreach (var image in Model.Images)
        {
            <img width="48" height="48" src="@image.UrlMedium" />
            <a asp-area="" asp-controller="Image" asp-action="Delete" asp-route-id="@image.Id">Delete Image</a>
            <br />
        }
    </div>