﻿@model IEnumerable<SocialEyes.Data.DBModels.GalleryModel>

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Identity
@inject UserManager<SocialEyes.Data.DBModels.ApplicationUser> UserManager

<h2>Galleries</h2>
@if (Model != null)
{
    <p>
        <a asp-action="Create">Create New Gallery</a>
    </p>

            <table class="table">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Location)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Duration)
                        </th>
                        <th>
                            Expected End Time
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UniqueUrl)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @{ var u = await UserManager.GetUserAsync(User); }
                @if(u.Gallerys != null)
                {
                    @foreach (SocialEyes.Data.DBModels.GalleryModel gallery in u.Gallerys)
                    {
                    <tr>
                        <td>
                            <img src="@gallery.MainImageUrl" style="width:64px;height:64px" />
                        </td>
                        <td>
                            @gallery.Name
                        </td>
                        <td>
                            @gallery.Location
                        </td>
                        <td>
                            @gallery.Duration
                        </td>
                        <td>
                            @*@if (@gallery.StartDateTime.Value.AddHours(gallery.Duration) < @System.DateTime.Now)
                            {
                                <p>Gallery Closed</p>
                            }
                            else
                            {
                                @gallery.StartDateTime.Value.AddHours(gallery.Duration)
                            }
                        </td>*@
                        <td>
                            @gallery.UniqueUrl
                        </td>
                        <td>
                            <a asp-action="Settings" asp-route-id="@gallery.ID">Settings</a> |
                            <a asp-action="Open" asp-route-id="@gallery.UniqueUrl">Open</a> |
                            <a asp-action="Upload" asp-route-id="@gallery.ID">Upload</a>
                        </td>
                    </tr>
                    }
                }
                </tbody>
            </table>
            
        }
