﻿
@{
    ViewData["Title"] = "Gallery Is Closed";
}

<h2>Sorry @ViewBag.GalleryName hasn't started yet. Check back</h2>

<h4>This event is due to open: @ViewBag.GalleryStartTime</h4>

    <a asp-controller="Home" asp-action="Index"><input type="submit" class="btn-success" value="Return to search for another Gallery" /></a>

