﻿@model SocialEyes.Data.DBModels.GalleryModel


@if (Model != null)
{
    <h2 style="text-align:center">@Model.Name</h2>
    if (Model.Images.Count != 0)
    {

        <div class="container" style="display: inline-block;">
            <div id="carouselButtons" style="text-align:center">
                <button class="btn btn-primary btn-sm active" id="playButton" type="button" style="margin-right:10px;">&#9658;</button>
                <button class="btn btn-primary btn-sm" id="pauseButton" type="button">&#9612;&#9612;</button>
            </div>
            <div id="myCarousel" class="carousel slide" data-ride="pause">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <a asp-action="Open" asp-controller="Image" asp-route-id="@Model.Images.First().Id">
                            <img src="@Model.Images.First().Url" alt="@Model.Images.First().Title">
                        </a>

                    </div>
                    @foreach (var image in Model.Images.Skip(1))
                    {

                        <div class="item">
                            <label id="currentImageId" hidden>@image.Id</label>
                            <a asp-action="Open" asp-controller="Image" asp-route-id="@image.Id">
                                <img class="img-fluid" src="@image.Url" alt="@image.Title" on>
                            </a>
                        </div>
                    }
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            @*   @await Html.PartialAsync("_AddComment", new SocialEyes.Data.DBModels.CommentModel { ImageId = @Model.Images.First().Id })*@


            <!-- Thumbnails -->
            <ul class="thumbnails-carousel clearfix">

                @foreach (var image in Model.Images)
                {
                    <li><img src="@image.UrlMedium" alt="@image.Title" style="width:50px"></li>
                }

            </ul>

        </div>
    }
    else
    {
        <p>Add some images to start your Gallery</p>
    }

    //If public user is allowed to upload
    if (ViewBag.IsOwner == true || (User.Identity.IsAuthenticated && Model.AllowUsersAddImages == true))
    {
        @await Html.PartialAsync("_UploadImage", new UploadImageModel { GalleryId = Model.ID })
    }
}

