﻿@model SocialEyes.Data.DBModels.GalleryModel

@{
    ViewData["Title"] = "Settings";
}

<h2>Settings</h2>
<div id="SettingsContainer" class="container-fluid" style="display:inline-block">
    @*List of properties belonging to the gallery that the owner can change*@
    <div id="Data">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <input type="hidden" asp-for="UserRefID" />
                    <input type="hidden" asp-for="UniqueUrl"/>
                    <input type="hidden" asp-for="MainImageUrl"/>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location" class="control-label"></label>
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Duration" class="control-label"></label>
                        <input asp-for="Duration" class="form-control" />
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDateTime" class="control-label"></label>
                        <input asp-for="StartDateTime" class="form-control" />
                        <span asp-validation-for="StartDateTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AllowUsersAddImages" class="control-label">Allow logged in users to upload Images?</label>
                        <input type="checkbox" asp-for="AllowUsersAddImages" class="form-control" />                        
                    </div>                    
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
        <a asp-area="" asp-controller="Gallery" asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-default">Delete Gallery</a>
    </div>
    @*Display all the here and give the option to delete each one*@
    <div id="images">
        <h3>Manage Images</h3>
        @foreach (var image in Model.Images)
        {
        <div id="thumbnail">
            <a href='@Url.Action("Delete/" + image.Id, "Image")'>
                <img width="64" height="64" src='@Url.Content(image.UrlMedium)' />
            </a>
        </div>
        }
    </div>
    <div id="qrCode" class="container" style="display:inline-block">
        <h3>Share this QR code or the Gallery Access code to allow other users to access your gallery</h3>
        <div id="qrcodeCanvas" style="float:left;padding-right:20px"></div>
        <script>
                jQuery('#qrcodeCanvas').qrcode({
                    text: "https://socialeyesdev.azurewebsites.net" + "/Gallery/Open/" + "@Model.UniqueUrl"
                    @*text: "https://google.ie"*@
                });
        </script>
        <div>
            <h3>Gallery Access Code: @Model.UniqueUrl</h3>
            </br>
            <a asp-area="" asp-controller="Gallery" asp-action="Share" asp-route-id="@Model.UniqueUrl" class="btn btn-default">Share Access code</a>
            @{await Html.RenderPartialAsync("_SocialSharing", Model);}
            @*not sharing the right location at the moment*@
            @*<div  style="float:left"class="sharethis-inline-share-buttons"></div>*@
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
