﻿@model SocialEyes.Data.DBModels.ImageModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Manage Image</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Image
        </dt>
        <dd>
            <img src="@Model.UrlMedium" />
        </dd>
    </dl>

    <form asp-action="Delete" style="padding-bottom:10px;">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" />
     </form>
    <form asp-controller="Gallery" asp-action="SetMainImage">
        <input type="hidden" asp-for="GalleryID" />
        <input type="hidden" asp-for="UrlMedium" />
        <input type="submit" value="Set as main image" class="btn btn-default" /> |
        <a asp-controller="Gallery" asp-action="Index">Back to List</a>
    </form>
</div>
