﻿@model SocialEyes.Data.DBModels.ImageModel

<div>    
    <label>@Model.Title</label>
    <img src="@Model.Url" width="1280" height="720"/>
    <a asp-controller="Gallery" asp-action="OpenWithId" asp-route-id="@Model.GalleryID"><input type="button" class="col-lg-12" value="Back to all pictures" /></a>
</div>

<a>@await Component.InvokeAsync("Comments", Model.Id)</a>
<a>@await Html.PartialAsync("_AddComment", new SocialEyes.Data.DBModels.CommentModel { ImageId = Model.Id})</a>

